---
import Layout from "../layouts/main.astro";
import List from "../components/SketchfabList.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
  <div
  transition:animate="none"
  class="flex flex-col md:flex-row justify-center px-2 pb-16 md:px-20 md:py-8 z-20 w-full gap-12 md:h-screen"
  >
      <div id="bdiv" class="flex flex-col w-full md:w-3/5 z-30 md:h-4/5 md:h-full">
        <div class="flex w-full text-2xl md:text-4xl font-bold items-center gap-4">
          <img
              src="/icons/cube.png"
              class="w-12 h-12 md:w-16 md:h-16"
              alt="3D Cube Icon (hand draw, pixel)"
            />
            Modèles 3D
        </div>
        <ul
          class="list block bg-base-100 rounded-box shadow-md overflow-auto w-full h-fit my-12"
        >
        <List
          titre = "Kart Rouge"
          description = "Véhicule réalisé pour un mode de jeux de course de karts sur DEMOCRAFT."
          icon = "tabler:car-filled"
          icon_bg = "bg-red-300 dark:bg-red-800"
          data="6007809ac3c0448db4465b67e64657c5">
          <div class="badge badge-xs badge-error">🌟 DEMOCRAFT</div>
          <div class="badge badge-xs badge-soft">🚗 Véhicule</div>
        </List>
        <List
          titre = "Platine"
          description = "Instrument faisant partie de la collection de la musique sur DEMOCRAFT."
          icon = "tabler:disc-filled"
          icon_bg = "bg-purple-300 dark:bg-purple-800"
          data="9fb7fa79afbf47868c793dca10a5db93">
          <div class="badge badge-xs badge-error">🌟 DEMOCRAFT</div>
          <div class="badge badge-xs badge-soft">🎹 Instrument</div>
        </List>
        <List
          titre = "Guitare"
          description = "Instrument faisant partie de la collection de la musique sur DEMOCRAFT."
          icon = "tabler:brand-netease-music"
          icon_bg = "bg-sky-300 dark:bg-sky-800"
          data="9aef4e3ca0434bb5a3f52e8ff14d179d">
          <div class="badge badge-xs badge-error">🌟 DEMOCRAFT</div>
          <div class="badge badge-xs badge-soft">🎹 Instrument</div>
        </List>
        <List
          titre = "Piano"
          description = "Instrument faisant partie de la collection de la musique sur DEMOCRAFT."
          icon = "tabler:piano"
          icon_bg = "bg-purple-300 dark:bg-purple-800"
          data="7e265a3e18a34643a047ba64449e9520">
          <div class="badge badge-xs badge-error">🌟 DEMOCRAFT</div>
          <div class="badge badge-xs badge-soft">🎹 Instrument</div>
        </List>
        <List
          titre = "DEMO la BRIQUE"
          description = "Mascotte principale de DEMOCRAFT.<br>Codée dans le jeu."
          icon = "tabler:building-tunnel"
          icon_bg = "bg-rose-200 dark:bg-rose-800"
          data="20bdd8d4376447459f48d0f4e1426f24">
          <div class="badge badge-xs badge-error">🌟 DEMOCRAFT</div>
          <div class="badge badge-xs badge-soft">🦄 Mascotte</div>
        </List>
        <List
          titre = "CACTOUS le CACTUS"
          description =  "Mascotte secondaire de DEMOCRAFT.<br>Codée dans le jeu."
          icon = "tabler:cactus-filled"
          icon_bg = "bg-lime-300 dark:bg-lime-800"
          data="a5cef7c3acf54491ad32fcf6fd0069ca">
          <div class="badge badge-xs badge-error">🌟 DEMOCRAFT</div>
          <div class="badge badge-xs badge-soft">🦄 Mascotte</div>
        </List>
        <List
          titre = "Mascotte Lapin"
          description = "Commission réalisé pour un serveur hébergé par Vaatigames."
          icon = "tabler:carrot"
          icon_bg = "bg-amber-300 dark:bg-amber-800"
          data="f012cbd8d8694c919870102a325c825c">
          <div class="badge badge-xs badge-soft">🦄 Mascotte</div>
        </List>
        </ul>
      </div>
      <div id="idiv" class="flex flex-col w-full md:w-1/3 z-30 sm:h-full h-96 max-md:hidden">
        <div class="">
          <div class="flex flex-row place-content-between">
            <span class="badge badge-primary badge-xl font-bold" id="title">
              Kart Rouge
            </span>
            <button class="btn btn-ghost btn-sm md:hidden" onclick="hideI()">
              <Icon name="tabler:arrow-big-left-filled" class="text-3xl" />
            </button>
          </div>
          <p id="description" class="p-2 text-base-content">
            Véhicule réalisé pour un mode de jeux de course de karts sur DEMOCRAFT.
          </p>
        </div>
        <div
          class="mask mask-custom bg-base-300 h-full w-full z-50 rounded-4xl text-base-content"
        >
          <iframe
            class="w-full h-full bg-base-100 shadow-md iframe"
            title="Kart 1"
            frameborder="0"
            allowfullscreen
            allow="autoplay; fullscreen; xr-spatial-tracking"
            xr-spatial-tracking
            execution-while-out-of-viewport
            execution-while-not-rendered
            web-share
            src="https://sketchfab.com/models/6007809ac3c0448db4465b67e64657c5/embed?autostart=1&transparent=1"
          >
          </iframe>
        </div>
      </div>
    </div>

  <script is:inline data-astro-rerun>
    const Dbuttons = document.querySelectorAll("button.core");
    const Diframe = document.querySelector(".iframe");
    const Didiv = document.querySelector("#idiv");
    const Dbdiv = document.querySelector("#bdiv");

    Dbuttons.forEach((button) => {
      button.addEventListener("click", () => {
        const coreValue = button.getAttribute("data-core");
        if (coreValue) {
          Diframe.src = coreValue;
          Dbdiv.classList.add("max-md:hidden")
          Didiv.classList.remove("max-md:hidden")
          document.querySelector("#title").innerHTML = button.getAttribute("data-titre");
          document.querySelector("#description").innerHTML = button.getAttribute("data-description");
        }
      });
    });

    function hideI() {
      Dbdiv.classList.remove("max-md:hidden")
      Didiv.classList.add("max-md:hidden")
    }
  </script>
</Layout>
