---
import Layout from "../layouts/main.astro";
import List from "../components/SoundcloudList.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
  <div
  transition:animate="none"
  class="flex flex-col md:flex-row justify-center px-2 pb-16 md:px-20 md:py-8 z-20 w-full gap-12 md:h-screen"
  >
    <div id="bdiv" class="flex flex-col w-full z-30 md:h-full">
      <div class="flex w-full text-2xl md:text-4xl font-bold items-center gap-4">
        <img
            src="/icons/palette.png"
            class="w-12 h-12 md:w-16 md:h-16"
            alt="Artist Palette Icon (hand draw, pixel)"
          />
          Dessin
      </div>
    
      <div class="grid grid-cols-2 md:grid-cols-5 gap-4 pt-8">
        <div class="relative group w-fit">        
          <img src="/design/dosoky.png" class="rounded-lg" alt="Personnage fictif" />
          <div class="absolute bottom-0 w-full bg-black bg-opacity-70 rounded-lg text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p>Personnage fictif</p>
          </div>
        </div>  
        
        <div class="relative group w-fit">        
          <img src="/design/diamond-heberg.png" class="rounded-lg" alt="Logo de Diamond Heberg" />
          <div class="absolute bottom-0 w-full bg-black bg-opacity-70 rounded-lg text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p>Logo de Diamond Heberg</p>
          </div>
        </div>
        
        <div class="relative group w-fit col-span-2">        
          <img src="/pixel/demo-ban.png" class="rounded-lg aspect-2/1 object-cover" alt="Mascottes de DEMOCRAFT" />
          <div class="absolute bottom-0 w-full bg-black bg-opacity-70 rounded-lg text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p>Mascottes de DEMOCRAFT</p>
          </div>
        </div>  

        <div class="relative group w-fit">        
          <img src="/pixel/confederation.png" class="rounded-lg" alt='Commission de "la Confédération"'/>
          <div class="absolute bottom-0 w-full bg-black bg-opacity-70 rounded-lg text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p>Commission de "la Confédération"</p>
          </div>
        </div>

        <div class="relative group w-fit">        
          <img src="/pixel/fantaisiici.png" class="rounded-lg" alt='Commission de "la Confédération"'/>
          <div class="absolute bottom-0 w-full bg-black bg-opacity-70 rounded-lg text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p>@fantasiici</p>
          </div>
        </div>

        <div class="relative group w-fit">        
          <img src="/design/funasitien-1.png" class="rounded-lg" alt="Personnage fictif" />
          <div class="absolute bottom-0 w-full bg-black bg-opacity-70 rounded-lg text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p>Personnage fictif</p>
          </div>
        </div>

        <div class="relative group w-fit">        
          <img src="/pixel/rainbow-dream-moon.png" class="rounded-lg" alt="Pochette d'album" />
          <div class="absolute bottom-0 w-full bg-black bg-opacity-70 rounded-lg text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p>Pochette d'album</p>
          </div>
        </div>

        <div class="relative group w-fit">        
          <img src="/pixel/pixya.png" class="rounded-lg" alt="Logo de Diamond Heberg" />
          <div class="absolute bottom-0 w-full bg-black bg-opacity-70 rounded-lg text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p>Planche de personnages</p>
          </div>
        </div>

        <div class="relative group w-fit">        
          <img src="/pixel/miniheads.png" class="rounded-lg" alt='Commission de "la Confédération"'/>
          <div class="absolute bottom-0 w-full bg-black bg-opacity-70 rounded-lg text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p>Visages</p>
          </div>
        </div>

        <div class="relative group w-fit col-span-2">        
          <img src="/pixel/demo-modern.png" class="rounded-lg aspect-2/1 object-cover" alt="Personnage fictif" />
          <div class="absolute bottom-0 w-full bg-black bg-opacity-70 rounded-lg text-white text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p>Bannière modèrne de democraft.studio</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script is:inline>
    const buttons = document.querySelectorAll("button.core");
    const iframe = document.querySelector(".iframe");
    const idiv = document.querySelector("#idiv");
    const bdiv = document.querySelector("#bdiv");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const coreValue = button.getAttribute("data-core");
        if (coreValue) {
          iframe.src = coreValue;
          bdiv.classList.add("max-md:hidden")
          idiv.classList.remove("max-md:hidden")
          document.querySelector("#title").innerHTML = button.getAttribute("data-titre");
          document.querySelector("#description").innerHTML = button.getAttribute("data-description");
        }
      });
    });

    function hideI() {
      bdiv.classList.remove("max-md:hidden")
      idiv.classList.add("max-md:hidden")
    }
  </script>
</Layout>
