---
import Layout from "../layouts/main.astro";
import List from "../components/SoundcloudList.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
  <div class="absolute flex flex-col md:flex-row justify-center p-2 md:p-20 z-20 h-screen w-full gap-12">
    <div id="bdiv" class="flex flex-col w-full z-30 h-4/5 md:h-full">
      <div class="flex w-full text-2xl md:text-4xl font-bold items-center gap-4">
        <img
            src="/icons/palette.png"
            class="w-12 h-12 md:w-16 md:h-16"
          />
          Dessin
      </div>
    </div>
  </div>

  <script is:inline>
    const buttons = document.querySelectorAll("button.core");
    const iframe = document.querySelector(".iframe");
    const idiv = document.querySelector("#idiv");
    const bdiv = document.querySelector("#bdiv");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const coreValue = button.getAttribute("data-core");
        if (coreValue) {
          iframe.src = coreValue;
          bdiv.classList.add("max-md:hidden")
          idiv.classList.remove("max-md:hidden")
          document.querySelector("#title").innerHTML = button.getAttribute("data-titre");
          document.querySelector("#description").innerHTML = button.getAttribute("data-description");
        }
      });
    });

    function hideI() {
      bdiv.classList.remove("max-md:hidden")
      idiv.classList.add("max-md:hidden")
    }
  </script>
</Layout>
