---
import Layout from "../layouts/main.astro";
import List from "../components/List.astro";
import Tool from "../components/Tool.astro";
import Github from "../components/Github.astro";
import MoodCard from "../components/MoodCard.astro"
import { Icon } from "astro-icon/components";
---

<Layout>
  <div
    transition:animate="none"
    class="flex flex-col md:flex-row justify-center px-2 pb-16 md:px-20 md:py-8 z-20 w-full gap-12 md:h-screen"
  >
    <div
      id="bdiv"
      class="flex flex-col w-full md:w-1/2 z-30 md:h-4/5 md:h-full"
    >
      <div
        class="flex w-full text-2xl md:text-4xl font-bold items-center gap-4"
      >
        <img
          src="/icons/chest.png"
          class="w-12 h-12 md:w-16 md:h-16"
          alt="Chest Icon (hand draw, pixel)"
        />
        Projets
      </div>
      <ul
        class="list block bg-base-100 rounded-box shadow-md overflow-auto w-full h-fit my-12"
      >
        <List
          titre="DEMOCRAFT"
          icon="https://us-east-1.tixte.net/uploads/cdn.democraft.fr/logo-vide.png"
          link="https://democraft.fr"
          data="democraft"
        >
          <span class="badge gap-0.5 badge-xs badge-success">
            <Icon class="w-3.5 h-3.5" name="tabler:brand-minecraft" />
            Minecraft
          </span>
          <span class="badge gap-0.5 badge-xs badge-soft">
            <svg
              class="w-fit h-fit"
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              viewBox="0 0 24 24"
              ><g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                color="currentColor"
                ><path
                  d="M6.175 10.333c-1.208.408-1.955.97-1.955 1.593c0 .848 1.389 1.587 3.44 1.97m0 0c-.762.386-1.217.875-1.217 1.408c0 1.243 2.487 2.251 5.555 2.251a13 13 0 0 0 2.223-.187m-6.56-3.471a18 18 0 0 0 3.226.28c1.708 0 3.265-.216 4.445-.573m1.11-3.48c-1.411.417-3.379.676-5.555.676c-4.295 0-7.778-1.008-7.778-2.252c0-.96 2.077-1.78 5-2.104"
                ></path><path
                  d="M22 19.07C22 20.688 17.523 22 12 22S2 20.688 2 19.07c0-1.15 1.707-2.146 5-2.626m11.76-7.656c4.214-1.094 4.816 5.468-1.205 7.656M17.558 2c-.74.123-2.133.815-1.778 2.593c.356 1.777-.148 2.716-.444 2.963M13.113 2c-.741.148-2.134.978-1.778 3.111s-.148 2.704-.444 3"
                ></path></g
              ></svg
            >
            Java
          </span>
        </List>
        <List
          titre="Vaatigames"
          icon="https://vaatigames.ovh/img/vaati2.png"
          link="https://vaatigames.ovh"
          data="vaatigames"
        >
          <span class="badge gap-0.5 badge-secondary badge-xs">
            <Icon class="w-3.5 h-3.5" name="tabler:server-2" />
            Administration Système
          </span>
        </List>
        <List
          titre="MOODS-CO"
          icon="https://github.com/moods-co.png"
          data="moods"
        >
          <span class="badge gap-0.5 badge-xs badge-error">
            <Icon class="w-3.5 h-3.5" name="tabler:currency-bitcoin" />
            Web3
          </span>
          <span class="badge gap-0.5 badge-xs badge-soft">
            <Icon class="w-3.5 h-3.5" name="tabler:file-music" class="w-3.5 h-3.5"/>
            Musique
          </span>
        </List>
        <List
          titre="Projets Personnels"
          icon="https://ws.funa.dev/logo.png"
          data="funa"
        >
          <span class="badge gap-0.5 badge-xs badge-primary">
            <Icon class="w-3.5 h-3.5" name="tabler:brand-open-source" />
            Open Source
          </span>
          <span class="badge gap-0.5 badge-xs badge-soft">
            <Icon class="w-3.5 h-3.5" name="tabler:sparkles" />
            Divers
          </span>
        </List>
      </ul>
    </div>

    <div
      class="flex flex-col w-full md:w-1/2 z-30 h-full max-md:hidden"
      id="idiv"
    >
      <div
        id="start"
        class="md:m-10 bg-base-300 h-full w-full z-50 rounded-4xl text-base-content flex items-center justify-center max-sm:hidden"
      >
        <img class="w-32 h-32 opacity-25" src="/gray.png" />
      </div>

      <div
        id="democraft"
        class="hidden md:m-10 bg-base-300 h-full w-full z-50 rounded-4xl text-base-content overflow-y-scroll"
      >
        <div class="card-body md:p-10">
          <img class="h-auto w-auto" src="https://us-east-1.tixte.net/uploads/cdn.democraft.fr/title_flat.png" />
          <p class="text-lg">DEMOCRAFT est un serveur Minecraft, fondé en 2022 et qui vise à offrir aux joueurs un unique serveur où
            ils peuvent jouer avec tous leurs amis, peu importent leurs plateformes.</p>
          <h2 class="text-2xl font-bold my-4">Technologies</h2>
          <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mb-4">
            <Tool icon="hugeicons:java" name="Java" />
            <Tool icon="tabler:brand-python" name="Python" />
            <Tool icon="tabler:brand-debian" name="Linux" />
            <Tool icon="tabler:brand-mysql" name="MySQL" />
          </div>
          <h2 class="text-2xl font-bold my-4">Code</h2>
          <div class="grid grid-cols-1 gap-6 mb-4">
            <Github 
            repo="democraftmc/DefaultServer"
            description="Plugin pour Minecraft : Java edition permettant aux joueurs de choisir un serveur par défaut sur lequel apparaitre à leur connexion."
            />
            <Github 
            repo="democraftmc/ore-aui"
            visibility="template"
            description="Thème Bootstrap dans le style des composants 'Ore UI' de Minecraft."
            />
            <Github 
            repo="democraftmc/front"
            description="Code Laravel & Astro de notre site principal."
            />
            <Github 
            repo="democraftmc/core"
            visibility="private"
            description="Code source de nos modes de jeux [Privé]."
            />
          </div>
        </div>
      </div>

        <div
        id="vaatigames"
        class="hidden md:m-10 bg-base-300 h-full w-full z-50 rounded-4xl text-base-content overflow-y-scroll"
      >
        <div class="card-body md:p-10">
          <img class="h-auto w-auto px-10 md:px-22 py-2" src="https://vaatigames.ovh/img/vaati1.png" />
          <p class="text-lg">Vaatigames est une association, originalement créé pour héberger DEMOCRAFT.
            Elle offre aux particuliers des serveurs, grâce aux dons faits à Vaatigames.</p>
          <h2 class="text-2xl font-bold my-4">Technologies</h2>
          <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mb-4">
            <Tool icon="tabler:brand-laravel" name="Laravel" />
            <Tool icon="tabler:brand-debian" name="Linux" />
            <Tool icon="tabler:hexagon-letter-n" name="Nginx" />
            <Tool icon="tabler:brand-docker" name="Docker" />
          </div>
          <h2 class="text-2xl font-bold my-4">Code</h2>
          <div class="grid grid-cols-1 gap-6 mb-4">
            <Github
            repo="Vaatigames/sleeky-blur-theme"
            description="Thème et site principal de Vaatigame, développé avec Tailwind, DaisyUI et Astro."
            />
            <Github
            repo="Vaatigames/Vaaticon"
            description="Un plugin pour Minecraft : Java edition qui permet de remplacer les interfaces de connexion des proxy Minecraft par des appels aux nouveaux protocoles Minecraft 1.20."
            />
          </div>
        </div>
      </div>


        <div
        id="moods"
        class="hidden md:m-10 bg-base-300 h-full w-full z-50 rounded-4xl text-base-content overflow-y-scroll"
      >
        <div class="card-body md:p-10">
          <MoodCard />
          <p class="text-lg">MOODS est un projet de plateforme de streaming de musiques, qui pour le moment essaye d'implémenter
            l'api AUDIUS pour utiliser le Web3 (la blockchain) comme fournisseur de musique.</p>
          <h2 class="text-2xl font-bold my-4">Technologies</h2>
          <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mb-4">
            <Tool icon="hugeicons:music-note-02" name="Web3"/>
            <Tool icon="tabler:brand-nuxt" name="Nuxt" />
            <Tool icon="tabler:brand-react" name="React" />
            <Tool icon="tabler:brand-vue" name="Vue" />
          </div>
          <h2 class="text-2xl font-bold my-4">Code</h2>
          <div class="grid grid-cols-1 gap-6 mb-4">
            <Github 
            repo="moods-co/react"
            description="Version fonctionnel du projet moods, codé avec React."
            />
            <Github 
            repo="moods-co/nuxt"
            description="Version fonctionnel du projet moods, codé avec Nuxt."
            />
          </div>
        </div>
      </div>

      <div
        id="funa"
        class="hidden md:m-10 bg-base-300 h-full w-full z-50 rounded-4xl text-base-content overflow-y-scroll"
      >
        <div class="card-body md:p-10">
          <img class="h-32 w-auto object-cover rounded-2xl object-[25%_75%]" src="https://funa.dev/banner.png" />
          <p class="text-lg py-4">Quelques projets personnels que je n'ai lié à aucune organisation !</p>
          <div class="grid grid-cols-1 gap-6 mb-4">
            <Github 
            repo="Funasitien/fiches.me"
            description="Site regroupant toutes mes fiches de cours. Mention spéciale à la philosophie."
            />
            <Github 
            repo="samuelaligator/PokeKerna"
            description="Application flutter qui reproduit l'application DLC Pokémon, mais avec des cartes personnalisées."
            />
            <Github 
            repo="Funasitien/nuitducode-2024"
            description="Code source de ma participation à la nuit du code 2024"
            />
          </div>
        </div>
      </div>

      <button onclick="hideI()" class="mt-4 sm:hidden btn btn-primary">
        Retour aux projets
      </button>
    </div>
  </div>

  <script is:inline>
    const buttons = document.querySelectorAll("button.core");
    let active = document.querySelector("#start");
    const bdiv = document.querySelector("#bdiv");
    const idiv = document.querySelector("#idiv");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const coreValue = button.getAttribute("data-core");
        if (coreValue) {
          bdiv.classList.add("max-md:hidden")
          idiv.classList.remove("max-md:hidden")
          active.classList.add("hidden");
          active = document.querySelector(`#${coreValue}`);
          active.classList.remove("hidden");
        }
      });
    });

    function hideI() {
      idiv.classList.add("max-md:hidden")
      bdiv.classList.remove("max-md:hidden");
      active.classList.add("hidden");
    }
  </script>
</Layout>
