---
import "@fontsource/poppins";
import "@fontsource/poppins/800.css";
import "../assets/app.css";

const {
  title = "C0RE",
  description = "Un super outil pour des superbes créations",
} = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png+xml" href="/logo.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="https://ws.funa.dev" property="og:url" />
    <meta content="/logo.png" property="og:image" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "superlight");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
  </head>
  <style>
    body {
      font-family: "Poppins", "FluentEmoji", sans-serif;
      transition: all 0.25s cubic-bezier(0.427, 0.073, 0.105, 0.997) 0.1s;
    }
  </style>
  <body>
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 dark:bg-gray-800 py-6 sm:py-12">
    <img src="/core/light_beams.jpg" alt="" class="bolck dark:hidden absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" />
    <img src="/core/dark_beams.jpg" alt="" class="hidden dark:block absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" />
    
    <div class="absolute inset-0 bg-[url(/core/light_grid.svg)] dark:bg-[url(/core/dark_grid.svg)] bg-center"></div>
    <div
      class="fixed start-0 bottom-0 md:bottom-5 z-50 flex justify-center w-full min-w-full"
    >
      <div
        class="bg-base-100 md:rounded-2xl p-2 flex justify-center gap-2 max-md:w-full"
      >
       <div class="tooltip" data-tip="Accueil">
          <a href="/">
            <img
              src="/icons/home.png"
              class="w-auto h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Dessin">
          <a href="/dessin">
            <img
              src="/icons/palette.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Modèles 3D">
          <a href="/3d">
            <img
              src="/icons/cube.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Musique">
          <a href="/musique">
            <img
              src="/icons/disc.png"
              class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Films">
          <a href="/films">
            <img
              src="/icons/clap.png"
              class="w-auto h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Projets">
          <a href="/projets">
            <img
              src="/icons/chest.png"
              class="w-auto h-12 hover:-translate-y-2 hover:scale-110 hover:bg-secondary hover:rounded-xl transition-all duration-100 p-1"
            />
          </a>
        </div>
        <div class="tooltip" data-tip="Chaner de thème">
          <button
          data-toggle-theme="superlight,superdark"
          data-act-class="superlight"
          aria-label="Changer de Thème">
          <img
            class="w-12 h-12 hover:-translate-y-2 hover:scale-110 hover:bg-primary hover:rounded-xl transition-all duration-100 p-1"
            src="/icons/theme.png"
            alt="White Them Palette"
          />
        </button>
        </div>
      </div>
    </div>
    <slot />
    </div>
</html>
